body{
  background: lightgrey;
}

.head{
  text-align: right;
  margin: 40px;
  font-size: 60px;
  font-family: 'Amatic SC', cursive;
  color: white;
  position: absolute;
  right: 100px;
  top: 20px;
}

#logo{
  position: absolute;
  top: 75px;
}

#black{
  position: relative;
  height: 10%;
  background: black;
  width: 100%;

-webkit-box-shadow: 6px 6px 25px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 6px 25px -3px rgba(0,0,0,0.75);
box-shadow: 6px 6px 25px -3px rgba(0,0,0,0.75);
}

#game-screen{
  height: 450px;
  width: 700px;
  background-color: lightblue;
  border-radius: 5px;
  position: absolute;
  left: 600px;
  top: 200px;


  -webkit-box-shadow: 6px 6px 25px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 25px -3px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 25px -3px rgba(0,0,0,0.75);

  overflow: hidden;

}


@keyframes moveback {
from{ transform: traslateX(1000px)  scale(0.2)}
to{ transform: translateX(-1000px)  scale(0.2)}
}


#dog {
  position: absolute;
  top: 285px;
  left: 10px;


}

#back {
  transform: scale(0.2);
  position: absolute;
  top: -70px;
  left: -90px;

  animation:  moveback 4s linear infinite;

}

#back1 {
  transform: scale(0.2);
  position: absolute;
  top: 30px;
  left: 50px;

  animation:  moveback 4s linear infinite;
}
#back2 {
  transform: scale(0.2);
  position: absolute;
  top: -80px;
  left: 170px;

  animation:  moveback 4s linear infinite;
}

#back3 {
  transform: scale(0.2);
  position: absolute;
  top: -120px;
  left: 310px;

  animation:  moveback 4s linear infinite;
}

#back4 {
  transform: scale(0.2);
  position: absolute;
  top: 20px;
  left: 460px;

  animation:  moveback 4s linear infinite;
}


#start-game{
  cursor: pointer;
  transform: scale(0.5);
  position: absolute;
  top: 320px;
  left: 95px;
}

#ground{
  position: absolute;
  top: 325px;
  left: 0;
  animation:  moveit 110s linear forwards;
}

@keyframes moveit {

  from {transform: translateX(0)}
  to {transform: translateX(-28046px)}

}

@keyframes jump {

    0%{ top: 270px }
    50%{ top: 100px }
    100%{ top: 270px }
}

@keyframes out {

0%{ top: 270px }
100%{ top: 260px}

}
#space{
  position: fixed;
  top: 500px;
  transform: scale(0.5);
  left: -50px;
}

#space span {
  position: absolute;
  top: 10px;
  left: 550px;
  font-size: 30px;
  font-family: 'Amatic SC', cursive;

}


/* Obstacle listing  */

#ground .pipe{
  position: absolute;
  bottom: 140px;
  left: 700px;
}

/*
#ground .pipe:nth-child(2){
  position: absolute;
  bottom: 175px;
  left: 1200px;
}
#ground .pipe:nth-child(3){
  position: absolute;
  bottom: 175px;
  left: 1900px;
}
#ground .pipe:nth-child(4){
  position: absolute;
  bottom: 175px;
  left: 2200px;
}
#ground .pipe:nth-child(5){
  position: absolute;
  bottom: 175px;
  left: 2900px;
}
#ground .pipe:nth-child(6){
  position: absolute;
  bottom: 175px;
  left: 3700px;
}
#ground .pipe:nth-child(7){
  position: absolute;
  bottom: 175px;
  left: 4000px;
}
#ground .pipe:nth-child(8){
  position: absolute;
  bottom: 175px;
  left: 4400px;
}
#ground .pipe:nth-child(9){
  position: absolute;
  bottom: 175px;
  left: 5600px;
}
#ground .pipe:nth-child(10){
  position: absolute;
  bottom: 175px;
  left: 6900px;
}
#ground .pipe:nth-child(11){
  position: absolute;
  bottom: 175px;
  left: 7400px;
}
#ground .pipe:nth-child(12){
  position: absolute;
  bottom: 175px;
  left: 9000px;
}
#ground .pipe:nth-child(13){
  position: absolute;
  bottom: 175px;
  left: 10000px;
}
#ground .pipe:nth-child(14){
  position: absolute;
  bottom: 175px;
  left: 10300px;
}
#ground .pipe:nth-child(15){
  position: absolute;
  bottom: 175px;
  left: 10900px;
}
#ground .pipe:nth-child(16){
  position: absolute;
  bottom: 175px;
  left: 11300px;
}
#ground .pipe:nth-child(17){
  position: absolute;
  bottom: 175px;
  left: 11900px;
}
#ground .pipe:nth-child(18){
  position: absolute;
  bottom: 175px;
  left: 12700px;
}
#ground .pipe:nth-child(19){
  position: absolute;
  bottom: 175px;
  left: 13000px;
}
#ground .pipe:nth-child(20){
  position: absolute;
  bottom: 175px;
  left: 14000px;
}
#ground .pipe:nth-child(21){
  position: absolute;
  bottom: 175px;
  left: 14900px;
}
#ground .pipe:nth-child(22){
  position: absolute;
  bottom: 175px;
  left: 16000px;
}
#ground .pipe:nth-child(23){
  position: absolute;
  bottom: 175px;
  left: 16700px;
}
#ground .pipe:nth-child(25){
  position: absolute;
  bottom: 175px;
  left: 17300px;

}

*/

#game-screen2{
  height: 450px;
  width: 700px;
  background-color: grey;
  border-radius: 5px;
  position: fixed;
  left: 600px;
  top: 200px;


  -webkit-box-shadow: 6px 6px 25px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 25px -3px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 25px -3px rgba(0,0,0,0.75);

  overflow: hidden;

}

#gover{
  height: 300px;
  position: relative;
  left: 50px;
  top: 10px;
}

#game-screen2 h1{
  position: absolute;
  top: 100px;
  left: 260px;
  font-size: 60px;
  font-family: 'Amatic SC', cursive;
}

#game-screen2 h2{

  position: absolute;
  left: 30px;
  font-size: 50px;
  font-family: 'Amatic SC' , cursive;
}

#game-screen2 a{
  position: absolute;
  left: 500px;
  top: 300px;
  transform: scale(0.5);
}

#game-screen2 h3{

  position: absolute;
  top: 290px;
  left: 470px;
  font-family: 'Amatic SC' , cursive;
  font-size: 30px;
}
