body{
  background: lightgrey;
}

.head{
  text-align: right;
  margin: 40px;
  font-size: 60px;
  font-family: 'Amatic SC', cursive;
  color: white;
  position: absolute;
  right: 100px;
  top: 20px;
}

#logo{
  position: absolute;
  top: 75px;
}

#black{
  position: relative;
  height: 10%;
  background: black;
  width: 100%;

-webkit-box-shadow: 6px 6px 25px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 6px 25px -3px rgba(0,0,0,0.75);
box-shadow: 6px 6px 25px -3px rgba(0,0,0,0.75);
}

#game-screen{
  height: 450px;
  width: 700px;
  background-color: lightblue;
  border-radius: 5px;
  position: relative;
  left: 600px;
  top: 30px;


  -webkit-box-shadow: 6px 6px 25px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 25px -3px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 25px -3px rgba(0,0,0,0.75);

  overflow: hidden;

}


@keyframes moveback {
from{ transform: traslateX(1000px)  scale(0.2)}
to{ transform: translateX(-1000px)  scale(0.2)}
}


#dog {
  position: absolute;
  top: 270px;


}

#back {
  transform: scale(0.2);
  position: absolute;
  top: -70px;
  left: -90px;

  animation:  moveback 4s linear infinite;

}

#back1 {
  transform: scale(0.2);
  position: absolute;
  top: 30px;
  left: 50px;

  animation:  moveback 4s linear infinite;
}
#back2 {
  transform: scale(0.2);
  position: absolute;
  top: -80px;
  left: 170px;

  animation:  moveback 4s linear infinite;
}

#back3 {
  transform: scale(0.2);
  position: absolute;
  top: -120px;
  left: 310px;

  animation:  moveback 4s linear infinite;
}

#back4 {
  transform: scale(0.2);
  position: absolute;
  top: 20px;
  left: 460px;

  animation:  moveback 4s linear infinite;
}


#start-game{
  cursor: pointer;
  transform: scale(0.5);
  position: absolute;
  top: 320px;
  left: 95px;
}

#ground{
  position: absolute;
  top: 325px;
  left: 0;
  animation:  moveit 110s linear forwards;
}

@keyframes moveit {

  from {transform: translateX(0)}
  to {transform: translateX(-28046px)}

}

@keyframes jump {

    0%{ top: 270px }
    50%{ top: 150px }
    100%{ top: 270px }
}

#space{
  position: absolute;
  top: 500px;
  transform: scale(0.5);
  left: -50px;
}

#space span {
  position: absolute;
  top: 10px;
  left: 550px;
  font-size: 30px;
  font-family: 'Amatic SC', cursive;

}

#pipe{
  position: absolute;
  bottom: 140px;
  left: 600px;
}
